<%- model_class = Categoria -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.new', 'Agregar %{model}'], :model => 'Categoria' %></h1>
</div>
<%= render :partial => 'form' %>


