
<%= simple_form_for @area, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= error_span(@area[:name]) %>
  	
  <div class="form-group">
  <%#= f.label :empresa_id %>
  <%#= f.collection_select :empresa_id, Empresa.all, :id, :name, {prompt: "Select a Empresa"}, {class: "form-control"} %>
  <%#= error_span(@area[:empresa_id]) %>
  </div>

  <div class="actions">
    <%= f.submit 'Grabar', :class => 'btn btn-sm btn-primary' %>    
  </div>
  
<% end %>
