<h1>Nueva Area</h1>

<%= render 'form' %>


<%#- model_class = Area -%>
<!--<div class="page-header">
  <h1><%#=t '.title', :default => [:'helpers.titles.new', 'Agregar %{model}'], :model => 'Unidad de Negocio' %></h1>
</div>-->
<%#= render :partial => 'form' %>
