<h1>Nuevo Usuario</h1>

<%= render 'form' %>

<%= link_to 'Back', usuarios_path %>

<%#= link_to t('.Nuevo Usuario', :default => t("helpers.links.back")),
            usuarios_path,
            :class => 'btn btn-primary' %>